body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  fill: orange;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  fill: #fcb045 !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: white !important;
}
.css-117w1su-MuiStepIcon-text {
  fill: black !important;
}

/* .css-qivjh0-MuiStepLabel-label.Mui-active {
  color: white;
}
.css-16ubnlw-MuiStepLabel-labelContainer {
  color: white;
} */
.css-qivjh0-MuiStepLabel-label {
  color: white;
}
.css-qivjh0-MuiStepLabel-label.Mui-active {
  color: #fcb045 !important;
}
.css-qivjh0-MuiStepLabel-label.Mui-completed {
  color: #fcb045 !important;
}
